<div>
    <app-table></app-table>
    <app-badge></app-badge>
    <hr>
    <app-bottom-sheet></app-bottom-sheet>
    <hr>
    <app-button-material></app-button-material>
    <hr>
    <app-button-toggle></app-button-toggle>
    <hr>
    <app-card></app-card>
    <hr>
    <app-checkbox></app-checkbox>
    <hr>
    <app-chips></app-chips>
    <hr>
    <app-dialog></app-dialog>
    <hr>
    <app-paginator></app-paginator>
    <hr>
    <app-form-field></app-form-field>
    <hr>
    <app-grid></app-grid>
</div>

<app-user-data-display></app-user-data-display>