<div class="grid">
    <div class="row menu">

        <span class="menufooter" style="display: grid; grid-template-columns: 12% auto;">
            <img src="../../assets/ui.png" alt="ui">
            <h3 style="margin-top: 6px;font-size: large;">Untitled UI</h3></span>
        <img class="image" src="../../assets/icon.png" alt="icon">
        <div class="menufooter">
            <h5>Step 2</h5>
            <h2>Add Integration</h2>
            <p>Superchared your workflow and connect the tools you use every day to your account </p>
        </div>
    </div>
    <div class="row main">
        <div class="container">
            <div class="grid-line">
                <div class="header">
                    <div>
                        <h1>Integrations and connected apps</h1>
                        <p>Suptercharge your workflow and connect the tool you use every day</p>
                    </div>
                    <div class="buttons">
                        <button mat-stroked-button>+ Custome integration</button>
                    </div>
                </div>
                <div class="header">
                    <div>
                        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" >
                            <mat-button-toggle>All integration</mat-button-toggle>
                            <mat-button-toggle>Developer tools</mat-button-toggle>
                            <mat-button-toggle>Communication</mat-button-toggle>
                            <mat-button-toggle>Productivity</mat-button-toggle>
                            <mat-button-toggle>Browser tool</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="buttons">
                        <button mat-stroked-button style="color: gray; padding-right: 100px; font-size: 18px;"><i
                                class="fa-solid fa-magnifying-glass"></i>Search</button>
                    </div>
                </div>
            </div>
            
            <hr style="background-color: rgba(0, 0, 0, 0.1);border: none;height: 2px;">
            <div class="grid-line">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/linear.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Linear</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-flat-button style="background-color: black; color: white;"><i class="fa fa-check"
                                style="margin: 0px 7px 0px 0px;"></i>Connected</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/figma.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Figma</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-flat-button style="background-color: black; color: white;"><i class="fa fa-check"
                                style="margin: 0px 7px 0px 0px;"></i>Connected</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/git.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Git</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/zapier.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Zapier</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/notation.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Notation</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/loom.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Loom</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/mailchimp.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Mailchimp</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
                <div class="line">
                    <div class="icon">
                        <img src="../../assets/dropbox.png" alt="linear">
                    </div>
                    <div class="data">
                        <span class="span">Dropbox</span>
                        <p class="info">Streamline software project, spring, tags, and bug tracking</p>
                    </div>
                    <div class="buttons">
                        <button mat-flat-button>Learn more</button>
                        <button mat-stroked-button>Connect</button>
                    </div>
                </div>
                <hr class="hr">
    
                <div class="button-container">
                    <button class="btn" mat-stroked-button style="margin-left: 30px;"><i class="fa-solid fa-arrow-left"
                            style="margin-right: 5px;"></i>Previous
                        step</button>
                    <button class="btn" mat-stroked-button style="background-color: black; color: white; margin-right: 30px;">Next
                        step<i class="fa-solid fa-arrow-right" style="margin-left: 5px;"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</div>