/* .row {
    display: table-cell;
} */

.menu {

    background-color: rgb(246, 248, 249);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.main {
    display: grid;
    grid-template-rows: 100%;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 30px;
    max-height: 100%;
    /* height: fit-content; */
    /* background-color: rgb(231, 232, 236); */
    background-color: darkgray;
}

.line {
    display: grid;
    grid-template-columns: 7% auto auto;
    margin: 15px 30px 15px 30px;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
}

.image {
    margin-top: 30%;
    margin-bottom: 30%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.menufooter {
    margin: 30px;
    width: 70%;
}

.info {
    margin: auto;
    color: gray;
}

.hr {
    border: none;
    height: 1px;
    margin: 0px 30px 0px 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.info {
    font-size: small;
}

.span {
    font-size: smaller;
}

.buttons{
    display: inline;
    justify-self: flex-end;
    /* margin-right: 15px; */
}

.button-container {
    position: fixed;
  /* left: 0; */
  width: 100vh  ;
  /* height: 60px;  */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
  backdrop-filter: blur(5px); /* Adds the glass effect */
}