<div class="div">
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter Number</mat-label>
            <input matInput placeholder="Number">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>1 2 3</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>1 2 3</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter Weight</mat-label>
            <input matInput placeholder="Weight">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>1 2 3</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter Symbol</mat-label>
            <input matInput placeholder="Symbol">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <!-- <mat-hint>1 2 3</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button (click)="updateItem()">Submit</button>
    </p>
</div>